@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
  font-family: "Pacifico", cursive;
  line-height: 1.5 !important;
}
.bg-accent {
  background: #7477ff;
}
html {
  scroll-behavior: smooth;
}

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}
